<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button fill="clear" color="light" (click)="goBack()">
                <ion-icon name="arrow-forward"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{ title }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form #fetamState="ngForm" (ngSubmit)="save(fetamState)">
        <ion-list>
            <div *ngIf="slide === 0">
                <ion-item>
                    <ion-label position="floating">إسم المشترى</ion-label>
                    <ion-input
                        clearInput
                        autofocus="true"
                        [(ngModel)]="str"
                        name="str"
                        type="text"
                    ></ion-input>
                </ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label position="floating" [color]="!count ? 'danger' : ''"
                                    >العدد</ion-label
                                >
                                <ion-input
                                    clearInput
                                    [(ngModel)]="count"
                                    name="count"
                                    type="number"
                                    required
                                ></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-label position="floating">الوزن</ion-label>
                                <ion-input
                                    clearInput
                                    [(ngModel)]="weight"
                                    name="weight"
                                    type="number"
                                ></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-item>
                    <ion-label position="floating" [color]="!value ? 'danger' : ''"
                        >السعر</ion-label
                    >
                    <ion-input
                        clearInput
                        [(ngModel)]="value"
                        name="value"
                        type="number"
                        required
                    ></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating" [color]="!date ? 'danger' : ''"
                        >التاريخ</ion-label
                    >
                    <ion-datetime
                        displayFormat="DD MMMM YYYY"
                        pickerFormat="DD MMMM YYYY"
                        placeholder="أختر التاريخ"
                        [(ngModel)]="date"
                        name="date"
                        monthNames="يناير-1, فبراير-2, مارس-3, ابريل-4, مايو-5, يونيو-6, يوليو-7, إغسطس-8, سبتمبر-9, أكتوبر-10, نوفمبر-11, ديسمبر-12"
                        cancel-text="إلغاء"
                        done-text="حفظ"
                        [readonly]="showData"
                        [disabled]="showData"
                        required
                    ></ion-datetime>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">ملاحظات</ion-label>
                    <ion-input
                        clearInput
                        [(ngModel)]="notes"
                        name="notes"
                        type="text"
                    ></ion-input>
                </ion-item>
            </div>
            <div *ngIf="slide === 1">
                <ion-item>
                    <ion-segment
                        (ionChange)="setVaccineSlide($event.target.value)"
                        value="1"
                        color="tertiary"
                    >
                        <ion-segment-button value="1">
                            <ion-label>علاج</ion-label>
                        </ion-segment-button>
                        <ion-segment-button value="2">
                            <ion-label>تحصين</ion-label>
                        </ion-segment-button>
                        <ion-segment-button value="3">
                            <ion-label>أخرى</ion-label>
                        </ion-segment-button>
                    </ion-segment>
                </ion-item>
                <ion-item>
                    <ion-label position="floating" [color]="!str ? 'danger' : ''">
                        {{ vaccineStr.str[vaccineSlide - 1] }}
                    </ion-label>
                    <ion-input
                        clearInput
                        autofocus="true"
                        [(ngModel)]="str"
                        name="str"
                        type="text"
                        required
                    ></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">
                        {{ vaccineStr.notes[vaccineSlide - 1] }}
                    </ion-label>
                    <ion-input
                        clearInput
                        [(ngModel)]="notes"
                        name="notes"
                        type="text"
                    ></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">
                        {{ vaccineStr.value[vaccineSlide - 1] }}
                    </ion-label>
                    <ion-input
                        clearInput
                        [(ngModel)]="value"
                        name="value"
                        type="number"
                    ></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating" [color]="!date ? 'danger' : ''"
                        >التاريخ</ion-label
                    >
                    <ion-datetime
                        displayFormat="DD MMMM YYYY"
                        pickerFormat="DD MMMM YYYY"
                        placeholder="أختر التاريخ"
                        [(ngModel)]="date"
                        name="date"
                        monthNames="يناير-1, فبراير-2, مارس-3, ابريل-4, مايو-5, يونيو-6, يوليو-7, إغسطس-8, سبتمبر-9, أكتوبر-10, نوفمبر-11, ديسمبر-12"
                        cancel-text="إلغاء"
                        done-text="حفظ"
                        [readonly]="showData"
                        [disabled]="showData"
                        required
                    ></ion-datetime>
                </ion-item>
            </div>
            <div *ngIf="slide === 2">
                <ion-item>
                    <ion-label position="floating" [color]="!count ? 'danger' : ''"
                        >عدد الأرانب</ion-label
                    >
                    <ion-input
                        [(ngModel)]="count"
                        name="count"
                        type="number"
                        required
                    ></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">سبب الوفاة</ion-label>
                    <ion-input
                        clearInput
                        [(ngModel)]="str"
                        name="str"
                        type="string"
                    ></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">ملاحظات</ion-label>
                    <ion-input
                        clearInput
                        [(ngModel)]="notes"
                        name="notes"
                        type="string"
                    ></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating" [color]="!date ? 'danger' : ''"
                        >التاريخ</ion-label
                    >
                    <ion-datetime
                        displayFormat="DD MMMM YYYY"
                        pickerFormat="DD MMMM YYYY"
                        placeholder="أختر التاريخ"
                        [(ngModel)]="date"
                        name="date"
                        monthNames="يناير-1, فبراير-2, مارس-3, ابريل-4, مايو-5, يونيو-6, يوليو-7, إغسطس-8, سبتمبر-9, أكتوبر-10, نوفمبر-11, ديسمبر-12"
                        cancel-text="إلغاء"
                        done-text="حفظ"
                        [readonly]="showData"
                        [disabled]="showData"
                        required
                    ></ion-datetime>
                </ion-item>
            </div>
            <ion-item>
                <ion-label>
                    <ion-button
                        fill="solid"
                        color="primary"
                        expand="block"
                        type="submit"
                        >حفظ</ion-button
                    >
                </ion-label>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
