<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button fill='clear' color='light' routerLink='/females'>
                <ion-icon name='arrow-forward'></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{ title }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <form #addFemale="ngForm" (ngSubmit)="save(addFemale)">
            <ion-list-header color="primary">
                <ion-label>
                    معلومات الإنثى / الذكر
                </ion-label>
            </ion-list-header>
            <ion-item>
                <ion-label position="floating">الإسم</ion-label>
                <ion-input
                    clearInput
                    autofocus="true"
                    [(ngModel)]="name"
                    name="name"
                    type="text"
                ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating" color='danger'>الرقم</ion-label>
                <ion-input
                    [(ngModel)]="num"
                    name="num"
                    type="number"
                    [readonly]="showData"
                    [disabled]="showData"
                    required
                ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating" color='danger'>النوع</ion-label>
                <ion-input
                    clearInput
                    [(ngModel)]="type"
                    name="type"
                    type="text"
                    [readonly]="showData"
                    [disabled]="showData"
                    required
                ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating" color='danger'>تاريخ الميلاد</ion-label>
                <ion-datetime
                    displayFormat="DD MMMM YYYY"
                    pickerFormat="DD MMMM YYYY"
                    placeholder="أختر التاريخ"
                    [(ngModel)]="date"
                    name="date"
                    monthNames="يناير-1, فبراير-2, مارس-3, ابريل-4, مايو-5, يونيو-6, يوليو-7, إغسطس-8, سبتمبر-9, أكتوبر-10, نوفمبر-11, ديسمبر-12"
                    cancel-text="إلغاء"
                    done-text="حفظ"
                    [readonly]="showData"
                    [disabled]="showData"
                    required
                ></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label position="floating">المصدر</ion-label>
                <ion-input
                    clearInput
                    [(ngModel)]="source"
                    name="source"
                    type="text"
                ></ion-input>
            </ion-item>
            <ion-list-header color="primary">
                <ion-label>
                    معلومات الأباء
                </ion-label>
            </ion-list-header>
            <ion-item>
                <ion-label position="floating">رقم الأب</ion-label>
                <ion-input
                    [(ngModel)]="father"
                    name="father"
                    type="number"
                ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">رقم الأم</ion-label>
                <ion-input
                    [(ngModel)]="mother"
                    name="mother"
                    type="number"
                ></ion-input>
            </ion-item>
            <ion-list-header color="primary">
                <ion-label>
                    معلومات المكان
                </ion-label>
            </ion-list-header>
            <ion-item>
                <ion-label position="floating">رقم البوكس</ion-label>
                <ion-input
                    [(ngModel)]="box"
                    name="box"
                    type="number"
                ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">رقم العين</ion-label>
                <ion-input
                    [(ngModel)]="eye"
                    name="eye"
                    type="number"
                ></ion-input>
            </ion-item>
            <ion-list-header color="primary">
                <ion-label>
                    معلومات الوزن
                </ion-label>
            </ion-list-header>
            <ion-item>
                <ion-label position="floating">وزن</ion-label>
                <ion-input
                    [(ngModel)]="weight"
                    name="weight"
                    type="number"
                ></ion-input>
            </ion-item>
            <ion-item-divider>
                <ion-row class="full-width">
                    <ion-col size="6">
                        <ion-button
                            type="submit"
                            fill="solid"
                            color="primary"
                            expand="block"
                            size="large"
                            [disabled]="!num || !date || !type"
                        >
                            حفظ
                        </ion-button>
                    </ion-col>
                    <ion-col size="6">
                        <ion-button
                            type="reset"
                            fill="solid"
                            color="danger"
                            expand="block"
                            size="large"
                        >
                            مسح
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-item-divider>
        </form>
    </ion-list>
</ion-content>
