<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>عن التطبيق</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="text-center">
        <ion-item>
            <ion-thumbnail>
                <img src="assets/icon/favicon.png" alt="apkIcon" />
            </ion-thumbnail>
        </ion-item>
        <p>
            هذا تطبيق (مزرعة الأرانب) مجانى بالكامل وهو تطبيق لإدارة مزارع
            الأرانب بطريقة مبسطة وبسهولة تامة ومناسب لجميع طرق التربية.
        </p>
        <p>
            يساعدك هذا التطبيق على تخزين جميع معلومات الإناث وسجلاتها من تلقيح
            وجس وولادة وفطام ، ويخزن التطبيق الذكور ويقوم بحساب سجلاته تلقائياً
            ، <br />
            ويساعدك على معرفة معلومات الولدة لكل الإناث ولكل إنثى على حده
            تلقائياً.
        </p>
        <p>
            كما يعطيك التطبيق إشعارات بمواعيد الجس والتلقيح والفطام والأمراض.
            <br />
            كما يمكنك تغيير إعدادات التنبيهات وفترات الجس والتلقيح وبيت الولدة
            والفطام من إعدادت التطبيق.
        </p>
        <p>
            والكثير الكثير مما نترككم مع التطبيق لإكتشافه.
        </p>
        <p class="copy">
            تم بناء التطبيق تحت إشراف مزرعة <strong>عزامكو رابيت</strong>
            <br />
            إدارة: <strong>م. يوسف عزام</strong><br />
            للتواصل:
            <ion-button fill="solid" color="success" shape="round" href="https://wa.me/201113673619">
                WhatsApp
                <ion-icon name="call" slot="end"></ion-icon>
            </ion-button>
        </p>
    </div>
</ion-content>
