<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button fill="clear" color="light" (click)="goBack()">
                <ion-icon name="arrow-forward"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{ title }}</ion-title>
        <ion-buttons slot="end">
            <ion-button
                fill="clear"
                color="light"
                (click)="showYoungRepo()"
                *ngIf="!isMale"
            >
                <ion-icon name="analytics"></ion-icon>
            </ion-button>
            <ion-button fill="clear" color="light" (click)="editRabbit()">
                <ion-icon name="create"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content scroll-y="false">
    <ion-toolbar color="primary">
        <ion-segment
            scrollable
            color="light"
            [value]="sliderVal"
            (ionChange)="changeSlide($event.detail.value)"
        >
            <ion-segment-button value="home">
                <ion-icon name="home"></ion-icon>
                <ion-label>المعلومات الأساسية</ion-label>
            </ion-segment-button>
            <ion-segment-button value="report" *ngIf="!isMale">
                <ion-icon name="paper"></ion-icon>
                <ion-label>تقارير</ion-label>
            </ion-segment-button>
            <ion-segment-button value="child" *ngIf="!isMale">
                <ion-icon name="paw"></ion-icon>
                <ion-label>الصغار</ion-label>
            </ion-segment-button>
            <ion-segment-button value="ill">
                <ion-icon name="warning"></ion-icon>
                <ion-label>الأمراض</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
    <ion-slides
        #rabbitSlides
        (ionSlideDidChange)="getIndex(rabbitSlides)"
        [options]="slideOpts"
        class="rabbitSlides"
    >
        <ion-slide>
            <ion-grid class="firstSlide">
                <ion-row>
                    <ion-col size="5">
                        <ion-label>
                            الرقم :
                            <span class="val">{{ rabbit.num }}</span>
                        </ion-label>
                    </ion-col>
                    <ion-col size="7">
                        <ion-label>
                            الوزن:
                            <span class="val"
                                >{{ rabbit.weight || 0 }} كجم
                            </span>
                        </ion-label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <ion-label>
                            تاريخ الميلاد:
                            <span class="val">{{ rabbit.date }}</span>
                        </ion-label>
                    </ion-col>
                </ion-row>
                <ion-row class="showText">
                    <ion-col>
                        <ion-label>
                            معلومات التلقيحات و الولادة
                        </ion-label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="6">
                        <ion-label>
                            التلقيحات:
                            <span class="val">{{ calc.talqeh.length }}</span>
                        </ion-label>
                    </ion-col>
                    <ion-col size="6">
                        <ion-label>
                            الجس:
                            <span class="val">{{ calc.gas.length }}</span>
                        </ion-label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <ion-label>
                            نسبة الجس الموجب:
                            <span class="val">{{ calc.gasPercent }}%</span>
                        </ion-label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="5">
                        <ion-label>
                            مرات الولادة:
                            <span class="val">{{ calc.welada.length }}</span>
                        </ion-label>
                    </ion-col>
                    <ion-col size="7">
                        <ion-label>
                            متوسط عدد الخلفة:
                            <span class="val">{{ calc.weladaMode || 0 }}</span>
                        </ion-label>
                    </ion-col>
                </ion-row>
                <ion-row class="showText">
                    <ion-col>
                        <ion-label>
                            معلومات المكان
                        </ion-label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="5">
                        <ion-label>
                            رقم البوكس:
                            <span class="val">{{ rabbit.box || 0 }}</span>
                        </ion-label>
                    </ion-col>
                    <ion-col size="7">
                        <ion-label>
                            رقم العين:
                            <span class="val">{{ rabbit.eye || 0 }}</span>
                        </ion-label>
                    </ion-col>
                </ion-row>
                <ion-row class="showText">
                    <ion-col>
                        <ion-label>
                            معلومات الأباء
                        </ion-label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="5">
                        <ion-label>
                            رقم الأب:
                            <span class="val">{{ rabbit.father || 0 }}</span>
                        </ion-label>
                    </ion-col>
                    <ion-col size="7">
                        <ion-label>
                            رقم الأم:
                            <span class="val">{{ rabbit.mother || 0 }}</span>
                        </ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide class="slideTwo" *ngIf="!isMale">
            <ion-list>
                <div *ngFor="let i of data; let rrinx = index;let rlast = last">
                    <ion-item
                        *ngIf="i.date !== 'noDate'"
                        [color]="!i.id ? i.positive ? 'success' : 'danger' : 'tertiary'"
                    >
                        <ion-grid>
                            <ion-row
                                *ngIf="i.id && !rlast"
                                class="ion-color-dark text-center"
                            >
                                <ion-col size="12">الولادة {{i.id}}</ion-col>
                            </ion-row>
                            <ion-row *ngIf="!i.id">
                                <ion-col size="5"
                                    >{{ i.toDate || i.date }}</ion-col
                                >
                                <ion-col size="2"
                                    >{{ getStateText(i.state) }}</ion-col
                                >
                                <ion-col size="3">
                                    <ion-icon name="male"></ion-icon>
                                    {{ i.maleNo }}
                                </ion-col>
                                <ion-col size="2" *ngIf="!isArchive">
                                    <ion-button
                                        fill="outline"
                                        color="light"
                                        (click)="destroy(i, rrinx)"
                                    >
                                        <ion-icon name="close"></ion-icon>
                                    </ion-button>
                                </ion-col>
                            </ion-row>
                            <ion-row
                                *ngIf="i.notes && i.notes.length"
                                [class]="i.positive ? 'success' : 'danger'"
                            >
                                <ion-col>
                                    {{ i.notes }}
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                </div>
            </ion-list>
        </ion-slide>
        <ion-slide class="slideTwo" *ngIf="!isMale">
            <ion-list>
                <div *ngFor="let i of data; let yyinx = index">
                    <ion-item
                        *ngIf="i.date !== 'noDate' && i.state === 3"
                        [color]="i.positive ? 'success' : 'danger'"
                    >
                        <ion-grid>
                            <ion-row>
                                <ion-col size="5">{{ i.date }}</ion-col>
                                <ion-col size="5">
                                    <span class="success">
                                        {{ i.child ? i.child.alive : 0 }} حى
                                    </span>
                                    &nbsp;|&nbsp;
                                    <span class="danger">
                                        {{ i.child ? i.child.dead : 0 }} ميت
                                    </span>
                                </ion-col>
                                <ion-col size="2" *ngIf="!isArchive">
                                    <ion-button
                                        fill="outline"
                                        color="light"
                                        (click)="destroy(i, yyinx)"
                                    >
                                        <ion-icon name="close"></ion-icon>
                                    </ion-button>
                                </ion-col>
                            </ion-row>
                            <ion-row
                                *ngIf="i.notes && i.notes.length"
                                [class]="i.positive ? 'success' : 'danger'"
                            >
                                <ion-col>
                                    {{ i.notes || '' }}
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                </div>
            </ion-list>
        </ion-slide>
        <ion-slide class="slideTwo">
            <ion-list class="illness">
                <div *ngFor="let i of illData; let ilinx = index">
                    <ion-item [color]="i.healed ? 'success' : 'danger'">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="4">
                                    {{ i.date }}
                                </ion-col>
                                <ion-col size="5">
                                    <span>{{ i.type }}</span>
                                </ion-col>
                                <ion-col *ngIf="!isArchive">
                                    <ion-button
                                        *ngIf="!i.healed"
                                        fill="solid"
                                        color="success"
                                        (click)="updateIll(i, ilinx)"
                                    >
                                        <ion-icon name="checkmark"></ion-icon>
                                    </ion-button>
                                    <ion-button
                                        fill="solid"
                                        color="danger"
                                        (click)="deleteIll(i, ilinx)"
                                    >
                                        <ion-icon name="close"></ion-icon>
                                    </ion-button>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col> العلاج: {{ i.anti }} </ion-col>
                            </ion-row>
                            <ion-row *ngIf="i.notes && i.notes.length">
                                <ion-col
                                    [class]="i.healed ? 'success' : 'danger'"
                                >
                                    {{ i.notes }}
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                </div>
            </ion-list>
        </ion-slide>
    </ion-slides>
    <ion-fab
        *ngIf="!isArchive"
        vertical="bottom"
        horizontal="end"
        slot="fixed"
        (click)="addState()"
    >
        <ion-fab-button>
            <ion-icon
                [name]="sliderVal === 'home' ? 'information' : 'add'"
            ></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
