ion-slides {
    height: 100%;
}
.rabbitSlides ion-slide {
    align-items: baseline !important;
    text-align: right;
    justify-content: normal !important;
    ion-row {
        align-items: center;
    }
    .firstSlide {
        ion-row {
            padding-top: 0.6rem;
            padding-bottom: 0.5rem;
            border-bottom: 1px solid var(--ion-color-medium-tint);
            span.val {
                border: 2px solid var(--ion-color-danger);
                color: var(--ion-color-tertiary);
                padding: 0.3rem 0.5rem;
                border-radius: 6px;
            }
            &.showText {
                background-color: var(--ion-color-primary);
                padding: 0;
                color: var(--ion-color-light);
            }
            &:last-child,
            &:first-child {
                border-bottom-width: 0;
            }
        }
    }
    &.slideTwo {
        overflow-x: hidden;
        overflow-y: auto;
        padding-bottom: 2rem;
        ion-list {
            width: 100% !important;
            padding-bottom: 3rem;
        }
        .success {
            background-color: var(--ion-color-success-shade);
        }
        .danger {
            background-color: var(--ion-color-danger-shade);
        }
        span.success, span.danger {
            padding: .3rem;
            border-radius: 6px;
        }
    }
}
