<ion-header>
    <ion-toolbar color='primary'>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>المالية</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-group>
            <ion-item-divider>
                <ion-label color="primary">أساسى</ion-label>
            </ion-item-divider>
            <ion-item class="ion-activatable" (click)="openPage('income', 'الإيرادات')">
                <ion-ripple-effect></ion-ripple-effect>
                الإيرادات
            </ion-item>
            <ion-item class="ion-activatable" (click)="openPage('outcome', 'المصروفات')">
                <ion-ripple-effect></ion-ripple-effect>
                المصروفات
            </ion-item>

            <ion-item-divider>
                <ion-label color="warning">أخرى</ion-label>
            </ion-item-divider>
            <ion-item class="ion-activatable" (click)="openPage('fetam', 'الفطام')">
                <ion-ripple-effect></ion-ripple-effect>
                الفطام
            </ion-item>
        </ion-item-group>
    </ion-list>
</ion-content>