<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>المالية</ion-title>
        <!-- <ion-buttons slot='end'>
            <ion-button (click)="showReport()" color='light' fill='outline'>
                تقرير
            </ion-button>
        </ion-buttons> -->
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <!-- <ion-item-group>
            <ion-item-divider>
                <ion-label color="primary">أساسى</ion-label>
            </ion-item-divider>
            <ion-item class="ion-activatable" (click)="openPage('income', 'الإيرادات')">
                <ion-ripple-effect></ion-ripple-effect>
                الإيرادات
            </ion-item>
            <ion-item class="ion-activatable" (click)="openPage('outcome', 'المصروفات')">
                <ion-ripple-effect></ion-ripple-effect>
                المصروفات
            </ion-item>

            <ion-item-divider>
                <ion-label color="warning">أخرى</ion-label>
            </ion-item-divider>
            <ion-item class="ion-activatable" (click)="openPage('fetam', 'الفطام المباع')">
                <ion-ripple-effect></ion-ripple-effect>
                الفطام المباع
            </ion-item>
        </ion-item-group> -->
        <ion-item
            *ngFor="let i of data"
            [color]="i.src === 'sell' ? 'success' : 'danger'"
        >
            <ion-grid>
                <ion-row>
                    <ion-col size="8">{{ i.date }}</ion-col>
                    <ion-col size="4">{{
                        i.src === 'sell' ? 'بيع' : 'شراء'
                    }}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="7">{{ i.type }}</ion-col>
                    <ion-col>{{ i.value }}</ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-list>
        <ion-item>
            <ion-label>إجمالى المشتريات</ion-label>
            <ion-note slot="end" color="danger">{{ totalBuy }}</ion-note>
        </ion-item>
        <ion-item>
            <ion-label>إجمالى المبيعات</ion-label>
            <ion-note slot="end" color="success">{{ totalSell }}</ion-note>
        </ion-item>
        <ion-item class="text-center">
            <ion-label
                >{{ diff }} جنيه
                <span [class]="totalSell > totalBuy ? 'success' : 'danger'">{{
                    state
                }}</span></ion-label
            >
        </ion-item>
    </ion-list>
    <ion-fab
        vertical="bottom"
        horizontal="start"
        slot="fixed"
        color="primary"
        (click)="openPage()"
    >
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-footer>
