footer ion-toolbar {
    background-color: #eee;
}
form ion-col {
    padding: 0;
    margin: 0;
    background-color: #fff;
}

form ion-col ion-input {
    border: 1px solid #0088d8;
}
ion-note {
    font-size: large;
}
.text-center {
    text-align: center;
}
.success {
    color: var(--ion-color-success);
}
.danger {
    color: var(--ion-color-danger);
}
.hydrated {
    padding: 0;
}
.center {
    text-align: center;
}