ion-list, ion-item {
    width: 100%;
}
.val {
    font-weight: bold;
    float: left;
}
.hydrated {
    padding: 0;
}
.text-center {
    text-align: center;
    span {
        font-weight: bold;
    }
}
ion-list {
    margin-top: 3rem;
}