<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button fill="clear" color="light" (click)="goBack()">
                <ion-icon name="arrow-forward"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{ title }}</ion-title>
        <ion-buttons slot='end'>
            <ion-button fill='outline' color='light'>
                عدد الأرانب: {{f.count}}
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content> </ion-content>
