ion-list, ion-item {
    width: 100%;
}
.val {
    font-weight: bold;
    float: left;
}
.tertiary .notes {
    background-color: var(--ion-color-tertiary-shade);
}
.primary .notes {
    background-color: var(--ion-color-primary-shade);
}
.pull-end {
    float: inline-end;
}