<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>الفطام</ion-title>
        <ion-buttons slot='end'>
            <ion-button fill='clear' color='light' (click)="showAnalytics()">
                <ion-icon name='analytics'></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar
        showCancelButton="focus"
        (ionChange)="filterData($event.target.value)"
        placeholder="رقم الدفعة"
    ></ion-searchbar>
    <ion-list>
        <ion-item-sliding
            *ngFor="let f of data; let inx = index"
            class="ion-activatable"
        >
            <ion-ripple-effect></ion-ripple-effect>
            <ion-item
                class="rabbit-item ion-activatable"
                detail="true"
                [color]="inx % 2 === 0 ? 'tertiary' : 'primary'"
                (click)="show(f)"
            >
                <ion-ripple-effect></ion-ripple-effect>
                <ion-label>
                    دفعة رقم:
                    <h1>{{ f.patchNo }}</h1>
                </ion-label>
                <ion-label>
                    <p>عدد الخلفات: {{ f.count }}</p>
                    <p>{{ f.date }}</p>
                </ion-label>
                <ion-item-options side="end">
                    <ion-item-option color="danger" (click)="destroy(f, inx)">
                        <ion-icon name="close"></ion-icon>&nbsp; حذف
                    </ion-item-option>
                </ion-item-options>
            </ion-item>
        </ion-item-sliding>
    </ion-list>
    <ion-fab
        vertical="bottom"
        horizontal="start"
        slot="fixed"
        (click)="addNewFetam()"
    >
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
