<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>الإعدادات</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header color="primary">
            <ion-label>إعدادت المزرعة</ion-label>
        </ion-list-header>
        <ion-item class="ion-activatable" (click)="changeConfig('talqeh')">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-label>
                تنبيه التلقيح
                <p>
                    عدد الأيام اللازمة للتلقيح بعد الولادة
                </p>
            </ion-label>
            <ion-note slot="end" color="primary">{{config.talqeh}}</ion-note>
        </ion-item>
        <ion-item class="ion-activatable" (click)="changeConfig('gas')">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-label>
                تنبيه الجس
                <p>
                    عدد الأيام اللازمة للجس بعد التلقيح
                </p>
            </ion-label>
            <ion-note slot="end" color="tertiary">{{config.gas}}</ion-note>
        </ion-item>
        <ion-item class="ion-activatable" (click)="changeConfig('hamlMotaqa')">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-label>
                فترة الحمل المتوقعة
                <p>
                    فترة الحمل المتوقعة قبل ولادة الإم
                </p>
            </ion-label>
            <ion-note slot="end" color="danger">{{config.hamlMotaqa}}</ion-note>
        </ion-item>
        <ion-item class="ion-activatable" (click)="changeConfig('fetam')">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-label>
                تنبيه الفطام
                <p>
                    عدد الأيام ما قبل الفطام
                </p>
            </ion-label>
            <ion-note slot="end" color="primary">{{config.fetam}}</ion-note>
        </ion-item>
        <ion-list-header color="primary">
            <ion-label>حفظ و نقل البيانات</ion-label>
        </ion-list-header>
        <ion-item class="ion-activatable" (click)="restore()">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-label>
                <ion-icon name="cloud-download"></ion-icon>
                إستيراد البيانات
                <p>إسترداد البيانات من ملف خارجى</p>
            </ion-label>
        </ion-item>
        <ion-item class="ion-activatable" (click)="backup()">
                <ion-ripple-effect></ion-ripple-effect>
            <ion-label>
                <ion-icon name="cloud-upload"></ion-icon>
                تصدير البيانات
                <p>تصدير البيانات إلى ملف خارجى</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
