/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// change app font
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Cairo'), local('Cairo-Regular'),
        url(assets/cairo.woff2) format('woff2');
    unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41,
        U+FB50-FDFF, U+FE80-FEFC;
}
html.md {
    --ion-default-font: 'Cairo', Roboto, 'Helvetica Neue', Helvetica, sans-serif,
        'Segoe UI', Arial;
    font-size: 0.3rem;
}

.rabbit-item ion-label {
    padding: 0.5rem;
    margin-bottom: 1rem;
    h2 {
        font-weight: bolder;
    }
}
ion-label.noMargin {
    margin: 0 !important;
    padding: 0 !important;
}
.rabbitSlides {
    min-height: 100%;
    ion-slide {
        align-items: baseline !important;
        text-align: right;
        justify-content: normal !important;
        overflow-x: hidden;
        overflow-y: auto;
        padding-bottom: 2rem;
        ion-grid {
            padding: 0;
        }
        ion-row {
            align-items: center;
            ion-col {
                padding-left: 0;
                padding-right: 0;
            }
        }
        &.slideTwo {
            ion-list {
                width: 100% !important;
                padding-bottom: 3rem;
            }
            .success {
                background-color: var(--ion-color-success-shade);
            }
            .danger {
                background-color: var(--ion-color-danger-shade);
            }
            span.success,
            span.danger {
                padding: 0.3rem;
                border-radius: 6px;
            }
        }
    }
}

.ion-activatable {
    position: relative;
    overflow: hidden;
}

ion-badge {
    padding: var(--padding-top) var(--padding-end) var(--padding-bottom) var(--padding-start) !important;
}

.pull-end {
    float: inline-end;
}

ion-item .notes:last-child {
    border-top: 1px solid var(--ion-color-base);
}
.tertiary .notes {
    background-color: var(--ion-color-tertiary-shade);
}
.primary .notes {
    background-color: var(--ion-color-primary-shade);
}