<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>الإشعارات</ion-title>
        <ion-buttons slot="end">
                <ion-button fill='clear' color='light' (click)='showRepo()'>
                    <ion-icon name="analytics"></ion-icon>
                </ion-button>
            </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="primary">
        <ion-segment
            scrollable
            color="light"
            [value]="sliderVal"
            (ionChange)="changeSlide($event.detail.value)"
        >
            <ion-segment-button value="talqeh">
                <ion-label>
                    التلقيح
                    <ion-badge color="danger">{{ calc.t.length }}</ion-badge>
                </ion-label>
            </ion-segment-button>
            <ion-segment-button value="gas">
                <ion-label>
                    الجس
                    <ion-badge color="danger">{{ calc.g.length }}</ion-badge>
                </ion-label>
            </ion-segment-button>
            <ion-segment-button value="welada">
                <ion-label>
                    الولادة
                    <ion-badge color="danger">{{ calc.w.length }}</ion-badge>
                </ion-label>
            </ion-segment-button>
            <ion-segment-button value="fetam">
                <ion-label>
                    الفطام
                    <ion-badge color="danger">{{ calc.f.length }}</ion-badge>
                </ion-label>
            </ion-segment-button>
            <ion-segment-button value="ill">
                <ion-label>
                    الأمراض
                    <ion-badge color="danger">{{ calc.i.length }}</ion-badge>
                </ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides
        #notifySlides
        (ionSlideDidChange)="getIndex(notifySlides)"
        [options]="slideOpts"
        class="rabbitSlides"
    >
        <ion-slide
            class="slideTwo"
            *ngFor="let slide of slidesArr; let sInx = index"
        >
            <ion-list>
                <div *ngFor="let i of slidesData[sInx]; let inx = index">
                    <ion-item
                        *ngIf="i.date !== 'noDate' && !i.done"
                        color="danger"
                    >
                        <ion-grid>
                            <ion-row>
                                <ion-col size="5">
                                    {{ i.remined || i.toDate || i.date }}
                                </ion-col>
                                <ion-col size="2">
                                    <ion-icon [name]="sInx === 4 ? 'bug' : 'female'"></ion-icon>
                                    {{ i.num }}
                                </ion-col>
                                <ion-col [size]="sInx === 4 ? 3 : 2">
                                    <span
                                        *ngIf="
                                            [0, 1, 2, 3].indexOf(sInx) > -1;
                                            else showName
                                        "
                                    >
                                        <ion-icon name="male"></ion-icon>
                                        {{ i.maleNo }}
                                    </span>
                                    <ng-template #showName>
                                        {{ i.name || i.type }}
                                    </ng-template>
                                </ion-col>
                                <ion-col [size]="sInx === 4 ? 2 : 3">
                                    <ion-button
                                        fill="solid"
                                        color="success"
                                        (click)="modifyState(i, inx)"
                                    >
                                        <ion-icon name="checkmark"></ion-icon>
                                    </ion-button>
                                    <ion-button
                                        *ngIf="sInx !== 4"
                                        fill="solid"
                                        color="danger"
                                        (click)="destroy(i, inx)"
                                    >
                                        <ion-icon name="close"></ion-icon>
                                    </ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                </div>
            </ion-list>
        </ion-slide>
        <!-- <ion-slide class="slideTwo">
            <h1>Slide 2</h1>
        </ion-slide>
        <ion-slide class="slideTwo">
            <h1>Slide 3</h1>
        </ion-slide>
        <ion-slide class="slideTwo">
            <h1>Slide 4</h1>
        </ion-slide>
        <ion-slide class="slideTwo">
            <h1>Slide 5</h1>
        </ion-slide> -->
    </ion-slides>
</ion-content>
